@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        @Body
    </div>
</div>

<style>

    .headerWrapper {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 5;
    }

    .pageWrapper {
        min-height: calc(100vh - 4rem);
        position: relative;
        top: 4em;
        justify-content: center;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

</style>