@page "/staffRooms"

<div class="headerWrapper">
    <Header HotelName="Sahara resort" />
</div>

<div class="pageWrapper">
    <div class="userPageWrapper">

        <SideMenu />
        
        <div class="userPageContent">
            <h3>StaffRoomsPage</h3>
        </div>
    
    </div>
</div>
