@page "/staffEvents"

<div class="headerWrapper">
    <Header HotelName="Sahara resort" />
</div>

<div class="pageWrapper">
    <div class="userPageWrapper">

        <SideMenu />
        
        <div class="userPageContent">
            <h3>StaffEventsPage</h3>
        </div>

    </div>
</div>

